@import '../../../../../variables.scss';

.container {
  padding: 20px 200px;
  min-height: 100vh;
  background-color: var(--color-change-password);
}

.change-password {
  max-width: 500px;
  margin: 0px auto;
}
.change-password__header {
  color: var(--color-on-change-password);
}
.change-password__error {
  color: red;
}

@media screen and (max-width: $tabletMinResolution) {
  .container {
    padding: 20px;
  }

  .change-password__header {
    text-align: center;
  }
  .change-password__actions {
    text-align: center;
  }
}