<div class="container">
  <div class="change-password">
    <div class="change-password__form">
      <h1 class="change-password__header">Change password</h1>

      <div class="change-password__error">{{ errorMessage$ | async }}</div>

      <app-change-password-form #changePasswordForm></app-change-password-form>
    </div>

    <div class="change-password__actions">
      <button
        mat-raised-button
        color="primary"
        (click)="onChangePassword(changePasswordForm)">
        Submit
      </button>
    </div>
  </div>
</div>
