.timezones-theme-default {
  // Header
  --color-header: #475081;

  // Navigation
  --color-navigation-background: #475081;
  --color-on-navigation-background: #f3f7f8;
  --color-navigation-content-background: #f3f7f8;

  // Login
  --color-login: #f3f7f8;
  --color-on-login: #475081;

  // Register
  --color-register: #f3f7f8;
  --color-on-register:  #475081;

  // Forgot password
  --color-forgot-password: #f3f7f8;
  --color-on-forgot-password:  #475081;

  // Change password
  --color-change-password: #f3f7f8;
  --color-on-change-password:  #475081;
}
