<form [formGroup]="form">
  <p
    *ngIf="hasValidationErrors$ | async"
    class="validation-errors">
    Please fix all validation errors and try again.
  </p>
  
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Current password</mat-label>

        <input
          matInput
          formControlName="currentPassword"
          placeholder="Type your current password"
          [type]="showCurrentPassword ? 'text' : 'password'">

        <button
          class="password-icon"
          mat-icon-button
          matSuffix
          (click)="onToggleCurrentPasswordVisibility()">
          <mat-icon>{{ showCurrentPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      
        <mat-error *ngIf="form.get('currentPassword').errors && (form.get('currentPassword').dirty || form.get('currentPassword').touched)">
          <div *ngIf="form.get('currentPassword').errors['required']">Current password is required</div>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>New password</mat-label>

        <input
          matInput
          formControlName="newPassword"
          placeholder="Type your new password"
          [type]="showNewPassword ? 'text' : 'password'">

        <button class="password-icon" mat-icon-button matSuffix (click)="onToggleNewPasswordVisibility()">
          <mat-icon>{{ showNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      
        <mat-error *ngIf="form.get('newPassword').errors && (form.get('newPassword').dirty || form.get('newPassword').touched)">
          <div *ngIf="form.get('newPassword').errors['required']">New password is required</div>
          <div *ngIf="form.get('newPassword').errors['minlength']">New password should be at least {{ form.get('newPassword').errors['minlength'].requiredLength }} characters long</div>
          <div *ngIf="form.get('newPassword').errors['password']">New password should contain at least one lowercase letter, one uppercase letter and one number</div>
          <div *ngIf="form.get('newPassword').errors['mustNotMatch']">New password should be different than current password</div>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Confirm new password</mat-label>

        <input
          matInput
          formControlName="confirmPassword"
          placeholder="Confirm new password"
          [type]="showConfirmPassword ? 'text' : 'password'">

        <button
          class="password-icon"
          mat-icon-button
          matSuffix
          (click)="onToggleConfirmPasswordVisibility()">
          <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      
        <mat-error *ngIf="form.get('confirmPassword').errors && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
          <div *ngIf="form.get('confirmPassword').errors['mustMatch']">Passwords do not match</div>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>