@import '../../../../../variables.scss';

.container {
  padding: 20px 200px;
  min-height: 100vh;
  background-color: var(--color-register);
}

.register {
  max-width: 500px;
  margin: 0px auto;
}
.register__header {
  color: var(--color-on-register);
}
.register__error {
  color: red;
}
.register__actions {
  padding-top: 20px;
}

@media screen and (max-width: $tabletMinResolution) {
  .container {
    padding: 20px;
  }

  .register__header {
    text-align: center;
  }
  .register__actions {
    text-align: center;
  }
}