<div class="container">
  <div class="spinner" *ngIf="selectedTimezoneIsLoading$ | async">
    <mat-spinner class="spinner-icon"></mat-spinner>
  </div>

  <div class="timezone" *ngIf="selectedTimezone$ | async as selectedTimezone">
    <div class="timezone_form">
      <h1 class="timezone__header" >
        {{ selectedTimezone.id ? 'Edit' : 'Add' }} timezone
      </h1>
      
      <mat-card>
        <div class="timezone__error">
          {{ errorMessage$ | async }}
        </div>

        <app-timezone-form
          #form
          [model]="selectedTimezone"
          [resolution]="resolution$ | async">
        </app-timezone-form>
  
        <div class="timezone__actions">        
          <button
            mat-raised-button
            color="primary"
            (click)="onSave(form)">
            Save
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
